<!--Home Page Handlebars-->
<div class="container">

    <div class="container" id="profile-home">
        <br>
        <h2>Liked article content</h2>
        <p>All the articles added to your liked collection, each can be edited as you please</p>
        <p>Use the search bar to find medium articles and add more to the collection</p>
        <br>
        {{#each articles as |article index|}}
            {{#ifIsNthItem nth=3 }}
                <div class="row">
            {{/ifIsNthItem}}

            <div class="col-sm" >
                <i class="fas fa-times delete-btn" data-id={{this._id}} ></i>
            <!--<a href={{this.articleUrl}}>-->
                <a href="/article?q={{this.articleUrl}}">
                    <h3>{{this.headerText}}</h3>
                    <img src={{this.headerImage}} />
                </a>
            </div> 
            
            {{#ifIsNthItem nth=3 }}
                </div>
            {{/ifIsNthItem}}

        {{/each}}
    </div>
</div>

